{% extends 'base.html.twig' %}

{% block title %}PlateformeCours!{% endblock %}

{% block body %}

<div class="d-none">
    <h1>Bienvenue sur Plateforme Cours</h1>

    <p>Vous devez être connecté pour accéder au site. <br>
        
    Un nombre au hasard ? {{ randomInt }} <br>

    Site en cours de construction. A venir : </p>
    <ul>
        <li>Navbar</li>
        <li>Menu</li>
        <li>Implémentation des entités</li>
    </ul>
</div>

<div>
    <h1>Bienvenue [user].</h1>
    <h2>Mes séquences</h2>
    <ul>
        
    </ul>
</div>


{% endblock %}
