{% extends 'base.html.twig' %}

{% block title %}PlateformeCours!{% endblock %}

{% block body %}


    <div>
        <h1 class="text-center">Bienvenue sur Plateforme Cours</h1>

        <p>Vous devez être connecté pour accéder au site. </p>

        <a href="/login" class="btn btn-lg btn-primary d-block">Me connecter</a>
            
        <p class="mt-3">
        Site en cours de construction. A venir : </p>
        <ul>
            <li>Accès administrateur</li>
            <li>Accès utilisateurs</li>
            <li>Gestion des fichiers</li>
        </ul>
    </div>




{% endblock %}
