{% extends 'base.html.twig' %}

{% block title %}PlateformeCours!{% endblock %}

{% block body %}


    <div>
        <h1 class="text-center">Bienvenue sur Plateforme Cours</h1>

        <p>Vous devez être connecté pour accéder au site. </p>

        <a href="/login" class="btn btn-lg btn-primary d-block">Me connecter</a>
            
        <p class="mt-3">
        V1 disponible. Correctifs à venir : </p>
        <ul>
            <li>Ajout de liens externes pour les séances</li>
            <li>Configuration des sections PROJET et GRAMMAIRE pour chaque séquence</li>
            <li>Connexion via pseudo</li>
        </ul>
    </div>




{% endblock %}
