{% extends 'base.html.twig' %}

{% block title %}MDP requis{% endblock %}

{% block body %}
    <h1>Entrez le mot de passe de la séquence {{ sequence.id }}. </h1>
    
    <form action="{{ path('verify_sequence_password', {'seq_id': sequence.id}) }}" method="POST">
        <div class="mb-3 input-group input-group-lg">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
            <input type="password" class="form-control" id="password" name="password" placeholder="mdp séquence {{ sequence.id }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>

{% endblock %}
